div .mainWindow {
    position: absolute;
    top: 32px;
    left: 32px;
    bottom: 32px;
    right: 32px;
    background-color: #ffffff;
    border: 0.5px solid black;
    border-radius: 4px;
    box-shadow: 8px 8px 8px rgba(0.5, 0.5, 0.5, 0.5);
    font-family: Calibri, "Helvetica Neue", Arial, "sans-serif";
    padding: 8px;
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    overflow-y: scroll;
}

div > button.closeBox {
    align-self: end;
    border-width: 0px;
    background-color: transparent;
    font-size: 1.5em;
    max-height: 1.25em;
    min-width: 1em;
}

div > button.closeBox:focus{
    border: 2px solid black;
    border-radius: 8px;
}

span.contents a {
    text-decoration: underline;
}
span.contents a::before {
    content: '';
}
span.contents a::after {
    content: '';
}
