.webchat__bot-text-activity__link::after {
  content: ']';
}

.webchat__bot-text-activity__link::before {
  content: '[';
}

.webchat__bot-text-activity__link--citation {
  appearance: none;
  border: 0;
  background-color: transparent;
  color: var(--pva__accent-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  white-space: nowrap;
}

.webchat__bot-text-activity__link--url {
  color: var(--pva__accent-color);
  text-decoration: none;
}

.pva__generative-answer-markdown__external-icon {
  -webkit-mask-image: var(--pva__external-link-icon);
  background-color: var(--pva__accent-color);
  height: 0.75em;
  mask-image: var(--pva__external-link-icon);
  margin: 0 0.1em;
  width: 0.75em !important; /* Web Chat maximize <img>, we should fix it there */
}
