.pva__generative-answer-markdown__accordion {
  margin: 0 10px 10px;
}

.pva__generative-answer-markdown__accordion[open] .pva__generative-answer-markdown__accordion__header::after {
  transform: rotate(0deg);
}

.pva__generative-answer-markdown__accordion__header {
  color: #616161;
  font-family: Calibri, 'Helvetica Neue', Arial, 'sans-serif';
  font-size: 80%;
  list-style: none;
}

.pva__generative-answer-markdown__accordion__header::after {
  background-image: var(--pva__accordion-chevron--down);
  content: '';
  display: inline-block;
  height: 1em;
  margin: 0 2px 2px;
  transform: rotate(180deg);
  vertical-align: middle;
  width: 1em;
  zoom: 150%;
}

.pva__generative-answer-markdown__reference::after {
  content: ']';
}

.pva__generative-answer-markdown__reference::before {
  content: '[';
}

.pva__generative-answer-markdown__reference--citation {
  appearance: none;
  border: 0;
  background-color: transparent;
  color: var(--pva__accent-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  white-space: nowrap;
}

.pva__generative-answer-markdown__reference--link {
  color: var(--pva__accent-color);
  text-decoration: none;
}

.pva__generative-answer-markdown__external-icon {
  -webkit-mask-image: var(--pva__external-link-icon);
  background-color: var(--pva__accent-color);
  height: 0.75em;
  mask-image: var(--pva__external-link-icon);
  margin: 0 0.1em;
  width: 0.75em !important; /* Web Chat maximize <img>, we should fix it there */
}
