.pva__references__item {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  display: flex;
  font-family: Calibri, 'Helvetica Neue', Arial, 'sans-serif';
  gap: 4px;
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
}

.pva__references__item__badge {
  flex-shrink: 0;
}
