.webchat__link-definitions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0 0;
  padding: 0;
}

.webchat__link-definitions__badge {
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-shrink: 0;
  font-size: 75%;
  height: 1em;
  justify-content: center;
  margin: 4px;
  overflow: hidden;
  padding: 2px;
  white-space: nowrap;
}

.webchat__link-definitions__item {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  display: flex;
  font-family: Calibri, 'Helvetica Neue', Arial, 'sans-serif';
  gap: 4px;
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
}

.webchat__link-definitions__item-body--citation {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--pva__accent-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  padding: 0;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webchat__link-definitions__item-body--url {
  color: var(--pva__accent-color);
}
